@{
    ViewBag.Title = "Home Page";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <title></title>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="~/Content/reset.css">
    <link rel="stylesheet" type="text/css" href="~/Content/main.css">
</head>
<body>

    <section class="billboard dark">


        <header class="wrapper dark"></header>

        <div class="caption dark animated wow fadeInDown clearfix">
            <h1>Optimus Information</h1>
            <p>Leverage the experience of a software outsourcing company</p>
            <p>with over 100 clients on more than 500 projects</p>
            <hr>
        </div>
        <div class="shadow"></div>
    </section><!--  End billboard  -->


    <section class="services wrapper">
        <ul class="clearfix">
            <li class="animated wow fadeInDown">
                <img class="icon" src="~/Content/image/icon1.png" alt="" />
                <span class="separator"></span>
                <h2>Application Development</h2>
                <p>
                    Application development, maintenance and professional services
                    across segments including web, mobile, SaaS, cloud and desktop.
                </p>
            </li>
            <li class="animated wow fadeInDown" data-wow-delay=".2s">
                <img class="icon" src="~/Content/image/icon2.png" alt="" />
                <span class="separator"></span>
                <h2>Data Analytics</h2>
                <p>
                    Data management, warehousing, reporting, dashboarding and visualization for
                    the large amount of data coming from the web, IoT and elsewhere.
                </p>
            </li>
            <li class="animated wow fadeInDown" data-wow-delay=".4s">
                <img class="icon" src="~/Content/image/icon3.png" alt="" />
                <span class="separator"></span>
                <h2>Software Testing</h2>
                <p>
                    Manual and automated testing for mobile, web, SaaS, cloud and desktop,
                    including functional, compatibility, performance and security testing.
                </p>
            </li>
        </ul>
    </section><!--  End services  -->

    <footer>
        <div class="wrapper">
            <div class="rights">

                <p>connect with us:<a href="http://www.optimusinfo.com" target="_blank">optimusinformation.com</a></p>
            </div>


    </footer><!--  End footer  -->

</body>

</html>

